files:
  /etc/ssl/localcerts/server-bundle.crt:
    source: https://s3-us-west-1.amazonaws.com/ircd-config/server-bundle.crt
  /etc/ssl/localcerts/server.crt:
    source: https://s3-us-west-1.amazonaws.com/ircd-config/server.crt
  /etc/ssl/localcerts/server.key:
    source: https://s3-us-west-1.amazonaws.com/ircd-config/server.key

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: ircd-config
